In [ ]:
## Loading the Walmart Sales Dataset
import pandas as pd

# Read CSV into a DataFrame (do NOT pass a filename string to DataFrame constructor)
df = pd.read_csv('Walmart_sales_data.csv')

# Quick preview
df.head()

,Transaction_ID,Date,Store_Location,Department,Product_Name,Quantity_Sold,Unit_Price,Total_Sales,Discount_Percentage,Discounted_Sales,Customer_Segment,Inventory_Level,Restock_Days
0,WLMRT-00001,12/15/2023,"Phoenix, AZ",Paint,Primers,8,303.34,2426.72,0,2426.72,Renovation Enthusiast,224,17
1,WLMRT-00002,04-10-2023,"Seattle, WA",Building Materials,Cement,3,20.09,60.27,5,57.26,Professional Contractor,423,44
2,WLMRT-00003,10-04-2023,"Atlanta, GA",Appliances,Dishwashers,6,13.46,80.76,0,80.76,DIY Homeowner,68,34
3,WLMRT-00004,9/28/2023,"New York, NY",Flooring,Laminate,3,197.41,592.23,0,592.23,Property Manager,140,43
4,WLMRT-00005,1/21/2023,"Atlanta, GA",Building Materials,Insulation,2,474.95,949.90,0,949.90,Property Manager,274,32

In [ ]:
## Getting basic info and statistics about the data

df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Transaction_ID       1500 non-null   object
 1   Date                 1500 non-null   object
 2   Store_Location       1500 non-null   object
 3   Department           1500 non-null   object
 4   Product_Name         1500 non-null   object
 5   Quantity_Sold        1500 non-null   int64
 6   Unit_Price           1499 non-null   float64
 7   Total_Sales          1500 non-null   float64
 8   Discount_Percentage  1500 non-null   int64
 9   Discounted_Sales     1500 non-null   float64
 10  Customer_Segment     1499 non-null   object
 11  Inventory_Level      1500 non-null   int64
 12  Restock_Days         1500 non-null   int64
dtypes: float64(3), int64(4), object(6)
memory usage: 152.5+ KB

,Quantity_Sold,Unit_Price,Total_Sales,Discount_Percentage,Discounted_Sales,Inventory_Level,Restock_Days
count,1500.000000,1499.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000
mean,5.019333,253.182635,1269.318340,3.673333,1223.930647,246.188000,25.334667
std,2.530196,141.675240,1016.975514,5.747055,989.233512,142.542895,10.744221
min,1.000000,10.200000,14.160000,0.000000,14.160000,10.000000,7.000000
25%,3.000000,132.565000,436.135000,0.000000,421.727500,120.000000,16.000000
50%,5.000000,254.440000,981.930000,0.000000,940.150000,244.000000,25.000000
75%,7.000000,370.250000,1908.642500,5.000000,1817.952500,366.250000,34.000000
max,9.000000,499.760000,4446.090000,20.000000,4446.090000,499.000000,44.000000

In [23]:
## Getting the null values

df.isnull().sum()

Transaction_ID         0
Date                   0
Store_Location         0
Department             0
Product_Name           0
Quantity_Sold          0
Unit_Price             1
Total_Sales            0
Discount_Percentage    0
Discounted_Sales       0
Customer_Segment       1
Inventory_Level        0
Restock_Days           0
dtype: int64

In [ ]:
## Filling the null values for numerical and categorical columns

df['Unit_Price'] = df['Unit_Price'].fillna(df['Unit_Price'].mean())
df['Customer_Segment'] = df['Customer_Segment'].fillna(df['Customer_Segment'].mode()[0])

In [26]:

## Check if we still have missing values
df.isnull().sum()

Transaction_ID         0
Date                   0
Store_Location         0
Department             0
Product_Name           0
Quantity_Sold          0
Unit_Price             0
Total_Sales            0
Discount_Percentage    0
Discounted_Sales       0
Customer_Segment       0
Inventory_Level        0
Restock_Days           0
dtype: int64

In [ ]:
## Checking the datatypes of the series
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Transaction_ID       1500 non-null   object
 1   Date                 1500 non-null   object
 2   Store_Location       1500 non-null   object
 3   Department           1500 non-null   object
 4   Product_Name         1500 non-null   object
 5   Quantity_Sold        1500 non-null   int64
 6   Unit_Price           1500 non-null   float64
 7   Total_Sales          1500 non-null   float64
 8   Discount_Percentage  1500 non-null   int64
 9   Discounted_Sales     1500 non-null   float64
 10  Customer_Segment     1500 non-null   object
 11  Inventory_Level      1500 non-null   int64
 12  Restock_Days         1500 non-null   int64
dtypes: float64(3), int64(4), object(6)
memory usage: 152.5+ KB